body{
    background-color: #DEEFE7;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;

}

.navbar{
    height: 80px;
    width: calc(100% - 2vw);
    margin: 1vw;
    background-color: #002333;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5rem;
    position: relative;
}

.menu-bar{
    position: absolute;
    left: 2%;
}


/* .nav-search .item{
    height: 30px;
} */

#search-box{
    width: 30vw;
    height: 2rem;
    border: 1.5px solid #DEEFE7;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
#search-box:focus{
    outline: none;
}

#search-type{
    height: 2rem;
    border: 1.5px solid #DEEFE7;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    width: auto;
}
#search-type:focus{
    outline: none;
}


.user-logout{
    display: flex;
    position: absolute;
    right: 3%;
}

.user-logout p{
    margin-left: 1vw;
    size: 1.5rem
}
.search{
    border: 1.5px solid #DEEFE7;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-left: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 500;
    border-radius: .5rem;
}
.search:hover{
    background-color: #036457;
    cursor: pointer;
}
.nav-search{
    display: flex;
    align-items: center;
    position: relative;
    right: 3vw;
}

.hero-section{
    background-image: url("Excavator.jpg");
    width: calc(100% - 2vw);
    margin: 1vw;
    height: 800px;
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.hero-section{
    display: flex;
    align-items: end;

}
.hero-section span{
    color: rgb(12, 41, 52);
    margin-right: 2vw;
}
.quote1{
    font-size: 2rem;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 700;
}
.quote2{
    font-size: 3rem;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 700;
}
.quote3{
    font-size: 4rem;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 900;
    
}


.footer-section{
    background-color: #1b2930;
    height: 100px;
    width: calc(100%-2vw);
    margin: 1vw;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-items a{
    color: #d7dfdb;
    size: 0.8rem;
    text-decoration: none;
}

.footer-section li{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1050px) {
    #email{
        visibility: hidden;
    }
}
@media screen and (max-width: 720px) {
    .quote1{
        font-size: 1rem;
    }
    .quote2{
        font-size: 2rem;
    }
    .quote3{
        font-size: 3rem;
    }
    .footer-section li ul{
        font-size: .65rem;
    }
}

@media screen and (max-width: 450px) {
    #search-box{
        height: 1.5rem;
        width: 20vw;
    }
    #search-type{
        height: 1.5rem;
    }
    .search{
        height: 1.5rem;
    }
    #logout{
        font-size: .8rem;
    }
}