body{
    background-color: #DEEFE7;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;

}

.navbar{
    height: 80px;
    width: calc(100% - 20px);
    margin-left: 10px;
    background-color: #002333;
    margin-top: 20px;
    margin: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.menu-bar{
    position: absolute;
    left: 2%;
}

/* .nav-search .item{
    height: 30px;
} */

#search-box{
    width: 50%;
    height: 30px;
    border: 1.5px solid #DEEFE7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#search-box:focus{
    outline: none;
}

#search-type{
    height: 30px;
    border: 1.5px solid #DEEFE7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: auto;
}
#search-type:focus{
    outline: none;
}


.user-logout{
    display: flex;
    position: relative;
    left: 200px;
}

.user-logout p{
    margin-left: 25px;
    size: 1.5rem
}
.search{
    border: 1.5px solid #DEEFE7;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    border-radius: 5px;
}
.search:hover{
    background-color: #036457;
    cursor: pointer;
}
.nav-search{
    display: flex;
    align-items: center;
}

.hero-section{
    background-image: url("Excavator.jpg");
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 800px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    /* position: absolute; */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.hero-section span{
    color: rgb(20, 42, 33);
}
.quote1{
    font-size: 2.5rem;
    font-family: cursive;
    position: absolute;
    bottom: 180px;
    font-weight: 800;
}
.quote2{
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 100px;
    font-weight: 900;
}


.footer-section{
    background-color: #1b2930;
    height: 100px;
    width: calc(100%-10px);
    margin: 10px;
    border-radius: 5px;
}
.foot-items a{
    color: #d7dfdb;
    size: 0.8rem;
    text-decoration: none;
}

.footer-section li{
    display: flex;
    justify-content: center;
}
.foot-items{
    margin-top: 35px;
}